.main-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  flex-direction: column;
}

.main-title {
  text-align: center;
}

.note-list {
  text-align: center;
  width: 400px;
  height: 300px;
  padding: 30px;
  background-color: rgb(235, 235, 235);
}


.create-note-title input{
  width: 300px;
  height: 20px;
  padding: 1px 1px 1px 1px;
}

.create-note-title td {
  text-align: center;
}
#create-note-contents {
  width: 300px;
  height: 50px;
}

.create-note-button {
 text-align: right; 
}